.navbar-nav a {
    color: var(--bs-nav-link-color);
    text-decoration: none;
    padding: 10px;
}

.navbar-nav a:focus, .navbar-nav a:hover, .navbar-nav a.active {
    color: var(--bs-link-hover-color);
}


.navbar-nav .dropdown-item:focus, .navbar-nav .dropdown-item:hover {
    color: var(--bs-white);
    background-color: var(--bs-link-hover-color);
}

.user-icon-btn {
    border: 0;
    background: no-repeat;
    padding: 0;
}

.user-icon-btn:hover, .user-icon-btn:visited, .user-icon-btn:active, .user-icon-btn:focus {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.user-icon, .cart-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
}

.popover-body .dropdown-item {
    padding: 10px;
}

.navbar-expand .navbar-nav .nav-link.dropdown-item {
    color: var(--bs-link-hover-color);
}

.navbar-expand .navbar-nav .nav-link.dropdown-item:hover {
    color: #fff;
}