.navbar-nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-family: 'Signika Negative';
    font-weight: 600;
}

.navbar-nav a:focus{
    color: orange;
}
.navbar-nav a.active{
    color: white;
}
.navbar-nav a:hover{
    color: orange;
    border-radius: 10px;
    text-decoration: underline;
}

.dropdown-item:active{
    background-color: whitesmoke;
}
.user-icon-btn {
    border: 0;
    background: no-repeat;
    padding: 0;
}

.user-icon-btn:hover, .user-icon-btn:visited, .user-icon-btn:active, .user-icon-btn:focus {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.user-icon, .cart-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
}

.popover-body .dropdown-item {
    padding: 10px;
}

.navbar-expand .navbar-nav .nav-link.dropdown-item {
    color: var(--bs-link-hover-color);
}

.navbar-expand .navbar-nav .nav-link.dropdown-item:hover {
    color: #fff;
}

.user-icon-btn {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

.popover-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popover-ul li {
    padding: 5px;
}

.popover-link {
    cursor: pointer;
    text-decoration: none;
}